@font-face {
    font-family: "Rosalia";
    src: url("../../fonts/Rosalia.otf");

}
.detailContainer {
  background-image: url("../../images/iStock-1310044335.jpg");
 background-position: center;
 background-size: 110%;
  background-repeat: space;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.titleSection {
  background-color: black;
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.titImgSumSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.title {
  font-family: "Rosalia", sans-serif;
  color: white;
  font-size: 24px;
}
.imageSection {
  margin-right: 20px;
  flex: 1;
}

.recipeImage {
  border-radius: 10px;
  width: 600px;
  height: 300px;
  
}
.infoSection {
  display: flex;
  justify-content: space-between;
}
.healthScore {
  background-color: rgba(207, 88, 20, 0.916);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.healthScore:hover {
  transform: scale(1.05);
  background-color:rgba(207, 88, 20, 0.916);
}

.healthScoreHover {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.healthScoreTitle {
  font-family: "Rosalia", sans-serif;
  color: rgba(255, 227, 172, 0.824);
  font-size: 18px;
  margin-bottom: 5px;
}

.healthScoreValue {
  display: none;
}

.healthScore:hover .healthScoreValue {
  display: block;
}

.diets {
  flex-grow: 1;
}

.dietsTitle {
  font-family: "Rosalia", sans-serif;
  color: rgba(255, 227, 172, 0.824);
  background-color: rgba(207, 88, 20, 0.916);
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
}

.dietList {
  list-style: none;
  padding: 0;
}

@font-face {
    font-family: "Oswald";
    src: url("../../fonts/Oswald-VariableFont_wght.ttf");
}
.dietItem {
    font-family: "Oswald", sans-serif;
    color:rgba(255, 227, 172, 0.824) ;
    background-color: rgba(207, 88, 20, 0.916);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }

  .summarySection {
    width: 2000px;
    height: 10px;
    margin-top: 0px;
   

  }
  
  .summaryTitle {
    font-family: "Rosalia", sans-serif;
    font-size: 18px;
    color: rgba(255, 227, 172, 0.824);
    background-color: rgba(207, 88, 20, 0.916);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
  
  .summaryText {
    font-family: "Oswald", sans-serif;
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo de la caja */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  .contentSection {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    
  }
  .stepsSection {
    width: 50%;
    margin-top: 20px; 
    margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Color de fondo de la caja */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}
  
  
  .stepsTitle {
    font-family: "Rosalia", sans-serif;
    color: rgba(255, 227, 172, 0.824);
    background-color: rgba(207, 88, 20, 0.916);
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
  .stepsList {
    list-style: none;
    padding: 0;
  }
  @font-face {
    font-family: "Oswald";
    src: url("../../fonts/Oswald-VariableFont_wght.ttf");
}
  
  .stepItem {
    font-family: "Oswald", sans-serif;
    color: rgba(255, 227, 172, 0.824);
    background-color: rgba(207, 88, 20, 0.916);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px 10px;
  }
  .contentWrapper {
    display: flex;
    align-items: flex-start; /* Centrar verticalmente los elementos */
    flex-wrap: wrap;
  }

  .divHealthDiet {
    flex: 1; /* Ocupar todo el espacio disponible */
  display: flex;
  flex-direction: column; /* Apilar los elementos verticalmente */
  align-items: flex-start;
  padding-right: 10px;
  }
.divSummary {
  flex: 1;
 width: 400px;
  margin-right: 50px;
  margin-top: 20px;
}
.buttonBack {
  font-family: "Rosalia", sans-serif;
    background-color:rgba(207, 88, 20, 0.916);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
   align-items: flex-end ;
   margin-left: 1300px;
}
.buttonBack:hover {
  background-color:rgb(110, 110, 20) ;
}