
.cardContainer{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 233, 188, 0.895);
  border: 1px solid rgba(207, 88, 20, 0.916); 
  border-radius: 5px;
  padding: 25px ;
  margin: 10px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  box-sizing:content-box;

}

.cardImg {
  width: 80%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.cardImg:hover{
  transform: scale(1.1);
}
@font-face {
  font-family: "Rosalia";
  src: url("../../fonts/Rosalia.otf");
}
.cardH2 {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  color: rgba(207, 88, 20, 0.916);
  text-decoration: none;
  outline: none;
  backface-visibility: hidden; /* Quitar el subrayado del enlace */
}
.dietList {
  display: block;
  gap: 10px; /* Espacio entre las dietas */
  float: left;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/Oswald-VariableFont_wght.ttf");
}

.diet {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  color: rgba(207, 88, 20, 0.916);
  padding: 3px 6px;
  text-align: left;
  
}
.dieth3 {
  font-family: "Oswald", sans-serif;
  color: rgba(207, 88, 20, 0.916) ;
  font-style: italic;
  font-size: 30px;
  text-align: left;
  margin-top: 1px;
}