
.homeTitle{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 76px;
    color: rgba(207, 88, 20, 0.916);
    text-shadow: 3px 3px 0px rgba(255, 227, 172, 0.824);
    font-family: "Rosalia"
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../images/iStock-1310044335.jpg");
    background-position: center;
    background-repeat: repeat;
    margin: 0px auto;
    
}
.filtersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    align-items: center;
}
.sorting {
    display: flex;
    align-items: center;
}

.filters select,
.sorting select {
    background-color: rgba(207, 88, 20, 0.916);
    font-family: "Oswald", sans-serif;
    color: rgba(255, 227, 172, 0.943);
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.filters select:hover,
.sorting select:hover {
    background-color: rgba(8, 70, 8, 0.92) ;
}